* {
    position: relative;
}

/* HEADER NAVIGATION */

nav {
    position: sticky;
    top: 0;
    margin-top: -5rem;
    z-index: 0;
}

/* PROJECT COVER */

#project-header {
    display: flex;
    row-gap: 1rem;
    position: sticky;
    top: 0;
    z-index: -2;
}

#project-title-card {
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 4rem 3rem;
    background-color: white;
}

#project-title-text {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
}

.subtitle {
    font-size: 1.25rem;
    line-height: 2rem;
}

#project-metadata {
    padding: 6rem 0rem 3rem;
}

#project-metadata {
    display: flex;
    justify-content: space-between;
}

#project-metadata div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#project-img-box {
    display: flex;
    padding-top: 4rem;
    background-color: #E1D7FC;
    align-items: center;
}

#project-img-box img {
    width: 100%;
}

.small-header {
    font-family: "Poppins";
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    #project-title-card {
        padding: 5rem 3rem 2rem;
    }
}

/* COVER ORIENTATION CHANGE */

@media screen and (max-width: 900px) {
    #color-mode-button {
        background-color: #EDEDED;
    }

    .dark #color-mode-button {
        background-color: #2B2B2B;
    }

    #project-header {
        flex-direction: column;
        position: static;
    }

    #project-img-box {
        position: sticky;
        top: 0;
        z-index: -1;
    }

    #project-title-card {
        padding: 3.5rem 3rem;
        flex-direction: row;
        column-gap: 5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    #project-metadata {
        padding: 0rem 0rem 0rem 0rem;
        min-width: 8rem;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 2.5rem;
    }
}

@media screen and (max-width: 700px) {
    #project-title-card {
        flex-direction: column;
        row-gap: 6rem;
        
    }

    #project-metadata {
        flex-direction: row;
        column-gap: calc(20%);
    }
}

/* DARK MODE */

.dark {
    background-color: #2B2B2B;
}

.dark #logo {
    color: black;
}

.dark #project-title-card {
    background: linear-gradient(to bottom, #161616, #2B2B2B); 
}

.dark #project-img-box {
    background-color: #AFA7C3;
}

/* TEST */

.story {
    background-color: black;
}