* {
    position: relative;
}

.dark {
    background-color: #2B2B2B;
}

/* HEADER NAVIGATION */

nav {
    position: sticky;
    top: 0;
    margin-top: -5rem;
    z-index: 0;
}

.dark #logo {
    color: black;
}

/* PROJECT COVER */

#project-header {
    display: flex;
    row-gap: 1rem;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -2;
}

#project-title-card {
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 4rem 3rem;
    background-color: white;
}

.dark #project-title-card {
    background: linear-gradient(to bottom, #161616, #2B2B2B); 
}

#project-title-text {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
}

.subtitle {
    font-size: 1.25rem;
    line-height: 2rem;
}

#project-metadata {
    padding: 6rem 0rem 3rem;
}

#project-metadata {
    display: flex;
    justify-content: space-between;
}

#project-metadata div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#project-img-box {
    display: flex;
    padding-top: 4rem;
    background-color: #E1D7FC;
    align-items: center;
}

.dark #project-img-box {
    background-color: #AFA7C3;
}

#project-img-box img {
    width: 100%;
}

.small-header {
    font-family: "Poppins";
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    #project-title-card {
        padding: 5rem 3rem 2rem;
    }
}

/* COVER ORIENTATION CHANGE */

@media screen and (max-width: 900px) {
    #color-mode-button {
        background-color: #EDEDED;
    }

    .dark #color-mode-button {
        background-color: #2B2B2B;
    }

    #project-header {
        flex-direction: column;
        position: static;
        height: auto;
    }

    #project-img-box {
        position: sticky; /* project image is sticky */
        top: 0;
        z-index: -1;
    }

    #project-title-card {
        padding: 3.5rem 3rem;
        flex-direction: row;
        column-gap: 5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    #project-metadata {
        padding: 0rem 0rem 0rem 0rem;
        min-width: 8rem;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 2.5rem;
    }
}

@media screen and (max-width: 700px) {
    #project-title-card {
        flex-direction: column;
        row-gap: 6rem;
        
    }

    #project-metadata {
        flex-direction: row;
        column-gap: calc(20%);
    }
}

/* SECTION STYLES */

.bullet-journal-bg {
    background: 
        radial-gradient(circle, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
        radial-gradient(circle, rgba(0, 0, 0, 0.05) 1.5px, transparent 1.5px);
    background-size: 1.5rem 1.5rem;
    background-color: #F4F0FF;
    padding: 3rem 2rem;
}

.jagged-div-border {
    -webkit-mask:
        conic-gradient(from -45deg at bottom,#000000,#F4F0FF 1deg 89deg,#0000 90deg) bottom/2rem 51% repeat-x,
        conic-gradient(from 135deg at top   ,#000000,#F4F0FF 15deg 89deg,#0000 90deg) top   /2rem 51% repeat-x;
}

.diagonal-div-border {
    background: none;
    -webkit-mask: none;
    clip-path: polygon(0 0,100% 70px,100% 100%,0 100%);
    background-color: #111111;
    overflow: hidden;
    padding-top: 2rem;
}

/* HEADER STYLES */

.washi-header {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    width: 10rem;
    height: 2.25rem;
    background: 
        repeating-linear-gradient(0deg,#521BFA, #521BFA 1px, transparent 1px, transparent 18px),
        repeating-linear-gradient(90deg, #521BFA, #521BFA 1px, transparent 1px, transparent 18px),
        linear-gradient(to right, #521BFA, #F4CEEC);
        background-position: 0px 30px;
    -webkit-mask:
        conic-gradient(from   45deg at left,  #0000,#000 1deg 89deg,#0000 90deg) left /51% 1.5rem repeat-y,
        conic-gradient(from -135deg at right, #0000,#000 1deg 89deg,#0000 90deg) right/51% 1.5rem repeat-y;
    padding: 0.5rem 4rem 0.5rem 2rem;
    color: white;
}

.block-letters-header {
    height: 5rem;
    text-shadow:
        0.5px 0.5px 0px #E1D7FC,
        -0.5px -0.5px 0px #E1D7FC,
        0.5px 0.5px 0px #E1D7FC,
        -0.5px -0.5px 0px #E1D7FC;
    padding: 1rem 0rem 0rem 0rem;
    color: #111111;
    font-size: 3rem;
}