.dark {
    background-color: #161616;
    color: #EEEEEE;
}

.dark #color-mode-button:hover {
    background-color: #2E2E2E;
}

.dark #logo a {
    color: white;
}

.dark #logo a:hover {
    color: #70778A;
}