/* INTRO SECTION */

#intro-section {
    display: flex;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    column-gap: 2rem;
    align-items: flex-end;
}

#welcome-mobile-sketch-img {
    width: 10.5rem;
    margin-bottom: -0.5rem;
}

#intro-text-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding-bottom: 1.5rem;
}

#intro-paragraphs-container {
    display: flex;
    flex-direction: column;
}

#intro-title {
    font-size: 3rem;
}

.intro-text {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
}

.intro-text .no-wrap {
    display: inline-flex;
    gap: 2px;
}

.intro-text a img {
    width: 1.75rem;
    height: auto;
}

.intro-text a:hover {
    opacity: 50%;
}

@media screen and (max-width: 1250px) {
    #intro-section {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #intro-title {
        font-size: 2.75rem;
    }

    .intro-text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1139px) {
    #intro-paragraphs-container {
        row-gap: 1.75rem;
    }
}

@media screen and (max-width: 1024px) {
    #intro-section {
        padding-top: 2.5rem;
    }
}

@media screen and (max-width: 842px) {
    .intro-text {
        font-size: 1.4rem;
    }

    .intro-text a img {
        width: 1.5rem;
    }
}

@media screen and (max-width: 704px) {
    /* Swap order of content */
    #intro-section {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        padding-left: 1.5rem;
        padding-right: 3rem;
    }

    #welcome-mobile-sketch-img {
        width: 10rem;
        margin-top: -13rem;
        margin-right: 0.5rem;
    }

    .intro-sentence1-container {
        width: calc(60% + 2rem);
    }

    .intro-sentence2-container {
        width: calc(65% + 1rem);
    }

    #intro-section {
        padding-top: 1.75rem;
    }
}

@media screen and (max-width: 640px) {
    .intro-sentence1-container {
        width: 70%;
    }

    .intro-sentence2-container {
        width: 68%;
    }

    #welcome-mobile-sketch-img {
        width: 9.5rem;
        margin-top: -12.5rem;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 620px) {
    #welcome-mobile-sketch-img {
        width: 8.5rem;
        margin-top: -10.5rem;
    }

    .intro-sentence1-container {
        width: 100%;
    }

    .intro-sentence2-container {
        width: 65%;
    }
}

@media screen and (max-width: 522px) {
    #welcome-mobile-sketch-img {
        margin-top: -9rem;
    }

    .intro-text {
        font-size: 1.25rem;
        font-weight: 450;
    }

    .intro-text a img {
        height: 1.25rem;
    }
}

@media screen and (max-width: 447px) {
    #welcome-mobile-sketch-img {
        margin-top: -9rem;
    }

    .intro-sentence2-container {
        width: 50%;
    }
}

@media screen and (max-width: 394px) {
    #intro-title {
        font-size: 2.25rem;
    }

    .intro-text {
        font-size: 1.1rem;
    }

    .intro-sentence2-container {
        max-width: calc(70% - 0.75rem);
    }

    #intro-paragraphs-container {
        row-gap: 1.25rem;
    }

    #intro-section {
        padding-top: 0.75rem;
        padding-left: 1.1rem;
    }

    #intro-text-container {
        row-gap: 0.75rem;
    }

    #welcome-mobile-sketch-img {
        width: 6rem;
        margin-top: -7rem;
        margin-right: -0.5rem;
    }
}

@media screen and (max-width: 335px) {
    #intro-section {
        padding-right: 1.5rem;
    }

    #intro-text-container {
        padding-bottom: 2.5rem;
    }

    .intro-sentence2-container {
        max-width: 100%;
    }
    
    #welcome-mobile-sketch-img {
        display: none;
    }
}

/* PROJECTS SECTION */

#projects-section {
    display: grid;
    gap: 2rem;
    padding: 0rem 2rem 2rem 2rem;
}

.project-container {
    display: grid;
    align-items: center;
    text-align: center;
    row-gap: 1.75rem;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.first-project {
    grid-column: 1 / span 4;
}

.second-project {
    grid-column: 5 / span 2;
}

.third-project {
    grid-column: 1 / span 2;
}

.fourth-project {
    grid-column: 3 / span 2;
}

.fifth-project {
    grid-column: 5 / span 2;
}

.pale-purple-container {
    background-color: #E1D7FC;
}

.pale-green-container {
    background-color: #BCF2CC;
}

.pale-blue-container {
    background-color: #BDE3F1;
}

.pale-yellow-container {
    background-color: #FDE7AB;
}

.pale-pink-container {
    background-color: #F4CEEC;
}

.project-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.3;
    padding-left: 4rem;
    padding-right: 4rem;
}

.project-description-text {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-left: 5rem;
    padding-right: 5rem;
}

.project-img-container {
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.project-img-container img {
    height: 100%;
    width: 100%;
}

.project-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding-top: 0.5rem;
}

#safetrec-flyer-light-mode {
    display: block;
}

#safetrec-flyer-dark-mode {
    display: none;
}

@media screen and (min-width: 1700px) {
    .project-description-text {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 1200px) {
    #projects-section {
        gap: 1.5rem;
        padding: 0rem 1.5rem 1.5rem 1.5rem;
    }

    .project-title {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .project-description-text {
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }
}

@media screen and (max-width: 860px) {
    .project-container {
        row-gap: 1.5rem;
        padding-top: 2.75rem;
        padding-bottom: 3rem;
    }

    .project-description-text {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* Projects all align in 1 column */
    .project-container {
        grid-column: 1;
    }  

    /* Swap order of work-study project and notes app project */
    .proj-3-4 {
        grid-row: 4;
    }

    .proj-4-3 {
        grid-row: 3;
    }
}

@media screen and (max-width: 394px) {
    #projects-section {
        padding: 0rem 1.1rem 1.25rem 1.1rem;
        gap: 1.1rem;
    }

    .project-container {
        padding-bottom: 2.5rem;
    }

    .project-title {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .project-description-text {
        font-size: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .intro-sentence2-container {
        width: 100%;
    }
}

/* DARK MODE */

.dark .pale-purple-container {
    background-color: #2B2B2B;
    border: 1.5px solid #C5BDDD;
}

.dark .pale-green-container {
    background-color: #2B2B2B;
    border: 1.5px solid #A5D4B3;
}

.dark .pale-blue-container {
    background-color: #2B2B2B;
    border: 1.5px solid #A6C7D3;
}

.dark .pale-yellow-container {
    background-color: #2B2B2B;
    border: 1.5px solid #DECB96;
}

.dark .pale-pink-container {
    background-color: #2B2B2B;
    border: 1.5px solid #F4CEEC;
}

.dark #safetrec-flyer-light-mode {
    display: none;
}

.dark #safetrec-flyer-dark-mode {
    display: block;
}