/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #70778A;
    --light-gray: #A3AABE;
    --bright-purple: #521BFA;
    --bright-orange: #FF764B;
    --pale-purple: #E1D7FC;
    --pale-blue: #BDE3F1;
    --pale-pink: #F4CEEC;
    --pale-orange: #FFCBBA;
    --pale-green: #BCF2CC;
    --pale-yellow: #FDE7AB;
    --pink: #E7729C;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    background-color: white;
    color: black;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.25rem;
}

.button {
    background-color: black;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.75rem 1.4rem;
    color: white;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

.button:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
    cursor: pointer;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 0.75px;
    text-underline-offset: 0.5rem;
}

img {
    width: 100%;
}

@media screen and (max-width: 394px) {
    .button {
        font-size: 1.1rem;
    }
}

/* HEADER NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0rem 2rem;
    /* position: fixed;
    width: calc(100% - 4rem);
    background-color: rgba(255, 255, 255, 0.9); */
}

#logo {
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: 600;
}

#logo a:hover {
    color: #A3AABE;
    text-decoration: none;
}

#logo:hover {
    cursor: default;
}

#sub-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#color-mode-button {
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: -0.5rem;
}

#color-mode-button:hover {
    cursor: pointer;
    background-color: #EDEDED;
}

#color-mode-button img {
    display: block;
}

@media screen and (max-width: 1024px) {
    nav {
        height: 4.5rem;
        padding: 0rem 1.5rem;
    }

    #sub-links {
        gap: 0.75rem;
    }

    #color-mode-button {
        padding: 0.4rem;
        margin-right: -0.4rem;
    }

    #color-mode-button img {
        height: 28px;
        width: 28px;
    }
}

@media screen and (max-width: 394px) {
    #logo {
        font-size: 1.1rem;
    }

    #sub-links {
        font-size: 0.9rem;
    }
}


/* FOOTER */

#footer {
    padding: 1.5rem 2rem 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
}

#footer :first-child {
    flex: 1;
}

#footer .github-logo {
    opacity: 0.4;
}

#footer .github-logo:hover {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    #footer {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        flex-direction: column;
    }

    #footer :first-child {
        order: 3;
    }

    #footer :nth-child(2) {
        order: 2;
    }

    #footer :nth-child(3) {
        order: 1;
        width: 32px;
    }

    #footer :nth-child(4) {
        order: 4;
    }
}

/* DARK MODE */

.dark {
    background-color: #191919;
    color: #EEEEEE;
}

.dark #color-mode-button:hover {
    background-color: #2E2E2E;
}

.dark a {
    color: #EEEEEE;
}