/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #70778A;
    --light-gray: #A3AABE;
    --bright-purple: #521BFA;
    --bright-orange: #FF764B;
    --pale-purple: #E1D7FC;
    --pale-blue: #BDE3F1;
    --pale-pink: #F4CEEC;
    --pale-orange: #FFCBBA;
    --pale-green: #BCF2CC;
    --pale-yellow: #FDE7AB;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: black;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* HEADER NAVIGATION */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    flex-grow: 1;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: var(--gray);
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: var(--light-gray);
    text-decoration-thickness: 1px;
}

#logo {
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: 600;
    flex: 1;
}

#logo:hover {
    cursor: default;
}

/* INTRO SECTION */

#intro-section {
    display: flex;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    column-gap: 2rem;
    align-items: flex-end;
}

#welcome-mobile-sketch-img {
    width: 10.5rem;
    margin-bottom: -0.5rem;
}

#intro-text-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding-bottom: 1.5rem;
}

#intro-paragraphs-container {
    display: flex;
    flex-direction: column;
}

#intro-title {
    font-size: 3rem;
}

.intro-text {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
}

/* PROJECTS SECTION */
#projects-section {
    display: grid;
    gap: 2rem;
    padding: 0rem 2rem 2rem 2rem;
}

.project-container {
    display: grid;
    align-items: center;
    text-align: center;
    row-gap: 1.75rem;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.project-1-span-3-container {
    grid-column: 1 / span 3;
}

.project-4-span-4-container {
    grid-column: 4 / span 4;
}

.project-1-span-4-container {
    grid-column: 1 / span 4;
}

.project-5-span-3-container {
    grid-column: 5 / span 3;
}

.pale-purple-container {
    background-color: #E1D7FC;
}

.pale-green-container {
    background-color: #BCF2CC;
}

.pale-blue-container {
    background-color: #BDE3F1;
}

.pale-yellow-container {
    background-color: #FDE7AB;
}

.project-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.3;
    padding-left: 4rem;
    padding-right: 4rem;
}

.project-description-text {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-left: 5rem;
    padding-right: 5rem;
}

.project-img-container {
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.project-img-container img {
    height: 100%;
    width: 100%;
}

.button {
    background-color: black;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.75rem 1.4rem;
    color: white;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

.button:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
    cursor: pointer;
    font-weight: 500;
}

.project-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding-top: 0.5rem;
}

#color-mode-button {
    border-radius: 50%;
    padding: 0.4rem;
    margin: -0.4rem;
}

#color-mode-button:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

#safetrec-flyer-light-mode {
    display: block;
}

#safetrec-flyer-dark-mode {
    display: none;
}

/* FOOTER */
#footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#footer-elements-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#github-logo-container .github-logo {
    display: block;
}

#github-logo-container:hover .github-logo {
    display: none;
}

#github-logo-container .github-logo-hover {
    display: none;
}

#github-logo-container:hover .github-logo-hover {
    display: block;
}

#footer-text-align-right-container {
    width: 10rem;
    text-align: right;
}

#footer-text-align-left-container {
    width: 10rem;
    text-align: left;
}