/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --gray-text: #70778A;
    --gray-underline: #A3AABE;
    --bright-purple: #521BFA;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: black;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
}

p {
    color: black;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* HEADER NAVIGATION */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    flex-grow: 1;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: var(--gray-text);
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: var(--gray-underline);
    text-decoration-thickness: 1px;
}

.logo {
    font-size: 1.25rem;
    flex-grow: 1;
}

.logo:hover {
    cursor: default;
}

/* SECTIONS (DESKTOP) */

#intro-section {
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 5rem;
    column-gap: 2rem;
    align-items: flex-end;
}

#welcome-mobile-sketch-img {
    width: 10rem;
    
}

.section__text-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding-bottom: 1.5rem;
}

.section__paragraphs-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.section__title {
    font-size: 3rem;
}

.section__text__p1 {
    font-size: 1.5rem;
}

/* CHANGES BASED ON SCREEN SIZE */

@media screen and (max-width: 1041px) {
    .section__paragraphs-container {
        row-gap: 1.5rem;
    }
}